.DS_Store
Thumbs.db
*.log
*.tmp
*.swp
*.swo
*.bak
.idea/
.vscode/
*.code-workspace

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
.eggs/
*.egg
dist/
build/
.Python
db.sqlite3
instance/
.env
*.mo
*.pot
*.log
venv/

# Env files
.env.local
.env.development.local
.env.test.local
.env.production.local

